<div>
  <h1>Nombre del país <span>Uruguay</span></h1>
  <img src="" alt="" />
  <h2>Datos generales:</h2>
  <p>
    Es un país de Sudamérica conocido por su interior verde y costa bordeada de
    playas. La capital, Montevideo, se ubica en torno a la plaza Independencia,
    donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja,
    casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes.
    La Rambla es un paseo costero con puestos de pescados, muelles y parques.
  </p>
</div>
