<div>
  <h1 class="text-center font-semibold text-2xl py-3">
    Nombre del país <span class="font-normal">Peru</span>
  </h1>
  <img
    src="https://flagpedia.net/data/flags/w580/pe.png"
    alt=""
    class="mx-auto"
    width="400px"
  />
  <div class="m-3">
    <h2 class="font-semibold text-xl py-3">Datos generales:</h2>
    <p>
      es un país de Sudamérica que abarca una sección del bosque del Amazonas y
      Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La
      región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del
      Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos. El
      Perú es uno de los países más variados del mundo. Un país multicultural,
      lleno de tradiciones, una laureada gastronomía y vastas reservas
      naturales.
    </p>
  </div>
</div>
